.ticketContainer {
    width: 600px;
    border: 2px solid salmon;
    border-radius: 15px;
    padding: 20px;
    background-color: gainsboro;
}
.ticketContainer:hover {
    background-color: yellow;
}
.title {
    color: brown;
    font-size: 30px;
    text-align: center;
}
.filedsContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
